.advantage {
    &-section {}

    &-titles {
        font-size: 2em;
        line-height: 1;
        font-family: "simpler-bold", sans-serif;
        margin-block-end: 9rem;
        color: white;

        .advantage-subtitle {
            font-family: "simpler-light", sans-serif;
            font-weight: normal;
            line-height: 1;
            font-size: 3.8rem;
        }
    }

    &-content {
        display: flex;
        flex-direction: row-reverse;
        position: relative;

        @include respond(mini-desktop) {
            display: block;
        }
    }

    &-image {
        width: 39%;

        & img {
            position: initial;
            height: auto;
            width: 100%;
            margin-top: 0;

            @include respond(mini-desktop) {
                position: absolute;
                width: 45rem;
                top: 30rem;
                left: -17rem;
            }
        }
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: space-between;

        &-container {
            width: 65%;
            padding-inline-start: 1rem;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20.8rem;
        margin-block-end: 6.4rem;
        color: $color-white;

        @include respond(mini-desktop) {
            width: 100%;
            margin-block-end: 5rem;
        }

        & h3 {
            font-size: 1.8rem;
            line-height: 1;

            @include respond(mini-desktop) {
                font-size: 2.85rem;
                font-family: "simpler-bold",
                    sans-serif;
            }
        }

        & p {
            font-family: "simpler-light",
                sans-serif;
            font-size: 1.65rem;
            line-height: 1;

            @include respond(mini-desktop) {
                font-size: 2.7rem;
            }
        }

        &>img {
            height: auto;
            width: 8.3rem;
            margin-bottom: 4vw;

            @include respond(mini-desktop) {
                width: 10.5rem;
            }
        }
    }


    &-bottom {
        color: white;
        font-size: 1.8rem;
        direction: ltr;
        margin-block: 1.7rem 3.4rem;
        text-align: right;
    }
}